/* Global properties */
:root {
  --clr-primary: #6aeeb5;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;
}

/* Page settings */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background: var(--clr-gray100);
  overflow-y: auto;
}

/* Custom scrollbar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/* Navigation bar configuration */
nav {
  margin-bottom: 60px;
}

/* Add styles to the navigation bar */
.nav-list {
  background: white;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  padding: 16px 0;
  border-radius: 3.2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 32px;
}

.hamburger-icon {
  display: block;
  opacity: 0.7;
  width: 30px;
  height: 30px;
}

.nav-icon {
  display: none;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: var(--clr-primary-dark);
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 32px;
}

.aboutme-button {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  background: var(--clr-primary);
  border: none;
  outline: none;
  border-radius: 3.2px;
  padding: 8px 16px;
  cursor: pointer;
}

.aboutme-button:hover {
  background: var(--clr-primary-hover);
}

/* Section configuration */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}

/* Add styles to the sections */
.linebreaker {
  position: relative;
  background-color: black;
  width: 60px;
  height: 7px;
  border-radius: 10px;
  opacity: 0.7;
  visibility: visible;
}

/* Add styles to the skills */
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 70px;
  padding-right: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--clr-gray200);
}

.skills .linebreaker {
  margin-bottom: 10px;
}

/* Add styles to the graph */
.graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--clr-gray200);
}

.graph-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #ddd;
  margin-bottom: 20px;
}

.skill {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.java {
  width: 65%;
  background-color: #2196f3;
}

.python {
  width: 60%;
  background-color: #f44336;
}

.htmlcss {
  width: 70%;
  background-color: #4caf50;
}

.javascript {
  width: 50%;
  background-color: #e6cb52;
}

/* Add styles to the experience recap */
.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--clr-gray200);
}

.experience h2 {
  text-align: center;
}

.experience .linebreaker {
  margin-bottom: 10px;
}

/* Footer configuration */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-top: 65px;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 14px;
}

.link.social > a {
  display: inline-block;
  line-height: 36px;
  margin: 0 20px;
}

.social img {
  opacity: 0.7;
  width: 50px;
  height: 50px;
}

.copyright {
  color: black;
}

/* Scroll back to top */
.scrollToTopBtn {
  visibility: visible;
  margin-bottom: 10px;
  background-color: var(--clr-primary);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

.scrollToTopBtn:hover {
  background-color: var(--clr-primary-hover);
}

.showBtn {
  opacity: 0.7;
  transform: translateY(0);
}

.arrow {
  font-size: 20px;
}

/* Add hover effects to buttons */
.footerEffect > img {
  transform: scale(1);
  transition: all 0.5s ease;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: antialised;
  -webkit-font-smoothing: subpixel-antialiased;
}

.footerEffect:hover > img {
  transform: scale(1.25);
  transition: all 0.5s ease;
}

/* Loading effect */
#preloader {
  position: fixed;
  top: 50%;
  left: 50%;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--clr-primary-dark);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--clr-primary-hover);
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--clr-primary);
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.fadeOut {
  opacity: 0;
  visibility: hidden;
  animation: fadeout 2s ease;
}

@keyframes fadeout {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Responsive configuration */
@media (max-width: 600px) {
  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-icon {
    display: block;
    opacity: 0.7;
  }

  .nav-icon:hover {
    opacity: 1;
  }

  .nav-item {
    display: none;
  }

  .scrollToTopBtn {
    visibility: hidden;
  }
}
