/* Global properties */
:root {
  --clr-primary: #6aeeb5;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;
}

/* Page settings */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background: var(--clr-gray100);
}

/* Navigation bar configuration */
nav {
  margin-bottom: 60px;
}

/* Add styles to the navigation bar */
.nav-list {
  background: white;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  padding: 16px 0;
  border-radius: 3.2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 32px;
}

.hamburger-icon {
  display: block;
  opacity: 0.7;
  width: 30px;
  height: 30px;
}

.nav-icon {
  display: none;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: var(--clr-primary-dark);
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 32px;
}

.about-button {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  background: var(--clr-primary);
  border: none;
  outline: none;
  border-radius: 3.2px;
  padding: 8px 16px;
  cursor: pointer;
}

.about-button:hover {
  background: var(--clr-primary-hover);
}

/* Section configuration */
.container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--clr-gray200);
}

/* Add styles to the section */
.name {
  position: absolute;
  font-size: 30px;
  top: 90px;
  left: 40px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.linebreaker {
  position: relative;
  background-color: black;
  width: 60px;
  height: 7px;
  border-radius: 10px;
  opacity: 0.7;
}

.split {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
}

.informations {
  padding-left: 25px;
  padding-right: 25px;
}

h2 {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

p {
  padding-top: 15px;
}

.home-icon {
  display: block;
  max-width: 100%;
}

/* Rotation effect using keyframe */
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

/* Rotation effect configuration */
.rainbow {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
}

.rainbow::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #6aeeb5;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#039d69, #6aeeb5),
    linear-gradient(#29e6a7, #6aeeb5), linear-gradient(#29e6a7, #039d69);
  animation: rotate 4s linear infinite;
}

.rainbow::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
}

/* Footer configuration */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-top: 65px;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 14px;
}

.link.social > a {
  display: inline-block;
  line-height: 36px;
  margin: 0 20px;
}

.social img {
  opacity: 0.7;
  width: 50px;
  height: 50px;
}

.copyright {
  color: black;
}

/* Add hover effects to buttons */
.footerEffect > img {
  transform: scale(1);
  transition: all 0.5s ease;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: antialised;
  -webkit-font-smoothing: subpixel-antialiased;
}

.footerEffect:hover > img {
  transform: scale(1.25);
  transition: all 0.5s ease;
}

/* Responsive configuration */
@media (max-width: 600px) {
  body {
    overflow-y: auto;
  }

  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-icon {
    display: block;
    opacity: 0.7;
  }

  .nav-icon:hover {
    opacity: 1;
  }

  .nav-item {
    display: none;
  }

  .name {
    position: absolute;
    font-size: 30px;
    top: 105px;
    left: 40px;
  }
}

@media (min-width: 1250px) {
  body {
    overflow-y: hidden;
  }

  .container {
    margin-left: 30%;
    margin-right: 30%;
  }

  .name {
    position: absolute;
    font-size: 30px;
    top: 90px;
    left: 32%;
  }
}

@media (min-width: 1400px) {
  body {
    overflow-y: auto;
  }
}
