:root {
  /*   color variables */
  --clr-primary: #6aeeb5;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;

  /*   border radius */
  --radius: 3.2px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background: var(--clr-gray100);
}

nav {
  margin-bottom: 100px;
}

.nav-list {
  background: white;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  padding: 16px 0;
  border-radius: var(--radius);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 32px;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: var(--clr-primary-dark);
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 32px;
}

.btn-primary {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  background: var(--clr-primary);
  border: none;
  outline: none;
  border-radius: var(--radius);
  padding: 8px 16px;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.btn-primary:hover {
  background: var(--clr-primary-hover);
}

.hamburger-icon {
  opacity: 0.7;
  width: 30px;
  height: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 150px;
}

.container h1 {
  position: absolute;
  font-size: 30px;
  top: 140px;
  left: 40px;
}

.split {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  border-color: red;
}

.linebreaker {
  position: absolute;
  left: 48%;
  background-color: black;
  width: 60px;
  height: 7px;
  border-radius: 10px;
  opacity: 0.7;
}

h2,
p {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-top: 25px;
}

p {
  padding-top: 30px;
  padding-bottom: 15px;
}

.home-icon {
  display: block;
  max-width: 100%;
}

/* Add styles to the footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-top: 65px;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.link.social > a {
  display: inline-block;
  line-height: 36px;
  margin: 0 20px;
}

.social img {
  opacity: 0.7;
  width: 50px;
  height: 50px;
}

.copyright {
  color: black;
}

/* Add some hover effects to buttons */
.footerEffect > img {
  transform: scale(1);
  transition: all 0.5s ease;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: antialised;
  -webkit-font-smoothing: subpixel-antialiased;
}

.footerEffect:hover > img {
  transform: scale(1.25);
  transition: all 0.5s ease;
}

@media (min-width: 1200px) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 30px;
  }

  .linebreaker {
    left: 24%;
  }
}

@media (max-width: 1200px) {
  body {
    overflow-y: auto;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.rainbow {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
}

.rainbow::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #5d9b8c;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#399953, #399953),
    linear-gradient(#fde581, #fde581), linear-gradient(#de5c64, #de5c64),
    linear-gradient(#6bc7d6, #6bc7d6);
  animation: rotate 4s linear infinite;
}

.rainbow::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
}
