:root {
  /*   color variables */
  --clr-primary: #6aeeb5;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background: var(--clr-gray100);
}

nav {
  margin-bottom: 60px;
}

.nav-list {
  background: white;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  padding: 16px 0;
  border-radius: 3.2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 32px;
}

.hamburger-icon {
  display: block;
  opacity: 0.7;
  width: 30px;
  height: 30px;
}

.nav-icon {
  display: none;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: var(--clr-primary-dark);
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 32px;
}

.about-button {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  background: var(--clr-primary);
  border: none;
  outline: none;
  border-radius: 3.2px;
  padding: 8px 16px;
  cursor: pointer;
}

.about-button:hover {
  background: var(--clr-primary-hover);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 150px;
}

.container h2 {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.container p {
  padding-left: 25px;
  padding-right: 25px;
}

.textblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.block1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  margin: auto;
  margin-bottom: 70px;
  border-radius: 10px;
}

.block1 a {
  text-decoration: none;
  color: black;
}

.block1 a:hover {
  color: var(--clr-primary-dark);
}

.block2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  background-color: white;
  margin: auto;
  margin-bottom: 70px;
  border-radius: 10px;
}

.block2 a {
  text-decoration: none;
  color: black;
}

.block2 a:hover {
  color: var(--clr-primary-dark);
}

.block3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  margin: auto;
  border-radius: 10px;
}

.block3 a {
  text-decoration: none;
  color: black;
}

.block3 a:hover {
  color: var(--clr-primary-dark);
}

.here-button {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  background: var(--clr-primary);
  border: none;
  outline: none;
  border-radius: 3.2px;
  padding: 8px 16px;
  cursor: pointer;
}

.here-button:hover {
  background: var(--clr-primary-hover);
}

/* Add styles to the footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-top: 65px;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.link.social > a {
  display: inline-block;
  line-height: 36px;
  margin: 0 20px;
}

.social img {
  opacity: 0.7;
  width: 50px;
  height: 50px;
}

.copyright {
  color: black;
}

/* Add some hover effects to buttons */
.footerEffect > img {
  transform: scale(1);
  transition: all 0.5s ease;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: antialised;
  -webkit-font-smoothing: subpixel-antialiased;
}

.footerEffect:hover > img {
  transform: scale(1.25);
  transition: all 0.5s ease;
}

@media (max-width: 600px) {
  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-icon {
    opacity: 0.7;
    display: block;
  }

  .nav-item {
    display: none;
  }

  .block1,
  .block2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 10px;
  }

  .block3 {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    border-radius: 10px;
  }

  h2 {
    text-align: center;
  }
}

/* @media (min-width: 1200px) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 5px;
  }
}

@media (max-width: 1200px) {
  body {
    overflow-y: auto;
  }
} */
